@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

header {
  @include flex-space-between;
  align-items: center;
  padding: 45px 100px 0;

  @media (max-width: 768px) {
    padding: 20px 20px 0 20px;
    margin: 0 auto;

    .kasa-logo {
      max-width: 145px;
    }
  }
}
