.host-profile {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    font-size: 18px;
    color: #ff6060;
    line-height: 1.2;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    object-fit: cover;
  }
}
