@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.star-rating {
  display: flex;
  align-items: center;
  gap: 5px;

  &__star {
    font-size: 35px;

    &--filled {
      color: $primary-color;
    }

    &--empty {
      color: $dark-grey;
    }

    @media (max-width: 768px) {
      font-size: $font-size-sm;
    }
  }
}
