@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.error-section {
  @include flex-column;
  align-items: center;
  gap: 139px;
  padding: 89px 0;

  @media (max-width: 786px) {
    gap: 113px;
    text-align: center;
    padding: 86px 0;
  }

  &__title {
    font-size: $font-size-largest;
    margin: 0;
    color: $primary-color;

    @media (max-width: 786px) {
      font-size: $font-size-xxxl;
    }
  }

  &__text {
    margin: 0;
    font-size: $font-size-lg;
    color: $primary-color;

    @media (max-width: 786px) {
      font-size: $font-size-xs;
    }
  }

  &__link {
    font-size: $font-size-sm;
    text-decoration: underline;

    @media (max-width: 786px) {
      font-size: 14px;
    }
  }
}
