@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.about {
  @include flex-column;
  margin: 50px 100px;
  gap: 43px;

  @media (max-width: 786px) {
    margin: 27px 20px;
    gap: 22px;
  }
}
